The kitchen sink.
Basically just a bunch of random stuff thrown into a file to demonstrate templates.

--- Comment example
{#- <-- The '-' here removes the whitespace between this comment and the previous line in output

Try running this command with Templar:
    templar -i Cargo.toml -i examples/example.json template examples/template.tmpl

#}

--- Value replacements
This template was run with the user {{ env('USER') }}

The value 'Somekey' from example.json is {{ Somekey | default('NONE') }}
The package name from Cargo.toml is {{ package.name }}

--- For loop examples
Iterate over an array
{%- for item in Array %}
{{ item }}
{%- end for %}

Iterate over a dictionary
{%- for item in Dict %}
Key: {{ item.key }} -> Value: {{ item.value }}
{%- end for %}

--- Setting values
{{- val = 'test' }}
{{ val }}

--- Scoping example
{{ 'scoped_val' = ('Not in a scope...' | upper) -}}
{{ scoped_val }}
{%- scope -%}
{{ 'scoped_val' = 'I\'m in a scope!' }}
{{ scoped_val }}
{%- end scope %}
{{ scoped_val }}

--- If/Else Example
{%- if env('USER') | lower == 'root' %}
{{ 'don\'t run as root!!' | upper }}
{%- else if env('USER') == 'phil' %}
Hi phil!
{%- else %}
Good, you aren't running as root
{%- end if %}

{{ `hello` }}

{#-
The rendered output of this template:
-----

The kitchen sink.
Basically just a bunch of random stuff thrown into a file to demonstrate templates.

--- Comment example

--- Value replacements
This template was run with the user phil

The value 'Somekey' from example.json is Somevalue
The package name from Cargo.toml is 

--- For loop examples
Iterate over an array
1
2
3

Iterate over a dictionary
Key: another -> Value: val
Key: key -> Value: val

--- Setting values
test

--- Scoping example
NOT IN A SCOPE...
I'm in a scope!
NOT IN A SCOPE...

--- If/Else Example
Hi phil!

hello
#}