This is a file that can be processed as a template.

Try running this command with Templar: templar -i Cargo.toml -i examples/example.json template examples/template.tmpl

This template was run with the user {{ env('USER') }}

The value 'Somekey' from example.json is {{ Somekey | default('NONE') }}

The package name from Cargo.toml is {{ package.name }}
